#page{
	width: 100%;
	margin: 0 auto;
}

#header{
	width: 100%;
	height:100px;
	border: 1px solid #000;
	margin-bottom:16px;
}

#content{
	width: 95%;
	margin-left:3%;
	margin-bottom:0px;
}

#footer{
	width: 100%;
	height:100px;
	border: 1px solid #000;
}

.ui-panelgrid tr, .ui-panelgrid td{
	border:none !important;
}

.boton {
	color: #900;
	font-weight: bold;
	font-size: 120%;
}

.ui-menubar,.ui-menu-child,.ui-menu {
	/*background: #004e8e !important;*/
}

.menu
{
	background-color: #2d2e2e;
	border-bottom: 4px solid #e80b0b;
	width:100%;
	height: auto;
	padding: 0 10px;
	position: fixed;
	margin: 0px;
	z-index: 1;
	opacity: 0.9;
}

.menu  .navbar-nav > .active > a
{
	background-color : #e80b0b;
	color: white;
	font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
	font-size: 13px;
	color: white;
	padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
	background-color: #e80b0b;
}

.navbar-header > a
{
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	padding: 5px 30px;
}
.navbar-header > a:hover
{
	text-decoration: none;
	color: #e80b0b;
}

/* !important is needed sometimes */
::-webkit-scrollbar {
	width: 12px !important;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	background: #2d2e2e !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5) !important;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #595a5a !important;
}

.ui-widget,.ui-widget .ui-widget {
	/*font-size: 90% !important;*/
}

/* To change background color when selectedis-->*/
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight
{
	/*background-color: green;*/
}
.tablaMTexto{
	text-align: center;
	vertical-align: middle;
	color: #2a2a4a;
	font-style: italic;
	margin-top:10px
}

/* Change frozen width */
.ui-datatable-frozenlayout-left {
	width: 130px;
}

.firstColColored .firstCol {
	background: #ff9ea8;
}

.secondColColored .secondCol {
	background: #ff9ea8;
}
.idColColored .idCol {
	background: #ff9ea8;
	width: 150px;
}
.diaColColored .diaCol {
	background: #ff9ea8;
}
.trayectoColColored .trayectoCol {
	background: #ff9ea8;
}

.seccionColColored .seccionCol {
	background: #ff9ea8;
}
.pIniColColored .pIniCol {
	background: #ff9ea8;
}
.pFinColColored .pFinCol {
	background: #ff9ea8;
}

.nGeneralColColored .nGeneralCol {
	background: #ff9ea8;
}
.nEspecialColColored .nEspecialCol {
	background: #ff9ea8;
}

.matrizColColored .matrizCol {
	background: #ff9ea8;
}

.nIncioColColored .nInicioCol {
	background: #ff9ea8;
}

.nFinColColored .nFinCol {
	background: #ff9ea8;
}

.tipoSColColored .tipoSCol {
	background: #ff9ea8;
}

.disColColored .disCol {
	background: #ff9ea8;
}

